[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {version = "==0.79.0", extras = ["all"]}
uvicorn = {extras = ["standard"], version = "*"}
pandas = "*"
scikit-learn = "*"
nltk = "*"
textblob = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
imbalanced-learn = "*"
jupyterlab = "*"
statsmodels = "*"
cmake = "*"
wheel = "*"
setuptools = "*"

[dev-packages]
flake8 = "*"
pylint = "*"
pycodestyle = "*"
pre-commit = "*"
autopep8 = "*"

[requires]
python_version = "3.8"
